---
import Menujsx from "./Menujsx";
---

<div>
  <h3>Mis Temas</h3>
  <Menujsx client:load />

  <!-- Contenido Estatico -->
  <div id="temaA">Contenido del temaA</div>
  <div id="temaB">Contenido del temaB</div>
  <div id="temaC">Contenido del temaC</div>
</div>
