---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book) => ({
    params: { id: book.slug },
    props: { book },
  }));
}

const { book } = Astro.props;
const { data } = book;
const { title, author, img, description, buy } = data;

const { Content } = await render(book);
---

<Layout>
  <div class="flex gap-12">
    <aside>
      <img src={`/${img}`} alt={title} class="rounded w-72 h-auto" />
    </aside>
    <main class="max-w-3xl">
      <h1 class="text-4xl font-bold mb-4">{title}</h1>
      <div class="prose prose-invert">
        <Content />
      </div>
    </main>
  </div>
</Layout>
